/text_classification_naive_bayes/jobdataFull.csv
/trabranche.ipynb
/csv_da.csv
/text_classification_naive_bayes/final_jobdata.csv
/.vscode
/.ipynb_checkpoints
/text_classification_naive_bayes/jobclassification.py
/text_classification_naive_bayes/test.py
/text_classification_naive_bayes/fuldformer.txt